.bx--data-table th.conditions__table__head {
  background-color: rgb(211, 211, 255);
}

.bx--data-table td.conditions__table__row {
  background-color: rgb(255, 255, 255);
}

.conditions__container {
  margin-bottom: 1rem;
}
