@import "../../../styles/variables";

.header__container.bx--header {
  background-color: $primary_color;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.header__container.bx--header > li {
  list-style: none;
  color: $link_color;
}

.header__icon .bx--header__menu-item {
  &:hover {
    background-color: #b4d8ff;
  }
}

.bx--header__menu-item > .bx--text-truncate--end {
  color: $link_color;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
}
