.bx--data-table th.medication__table__head {
  background-color: #d3d3ff;
}

.bx--data-table td.medication__table__row {
  background-color: #ffffff;
}

.medication__request__container {
  margin-bottom: 1rem;
}
