@import "../../../styles/variables";

.footer__container {
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: $primary_color;
  padding: 1rem;
}

.bx--row.footer__row {
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
}

.bx--link.link,
.bx--link:visited.link {
  color: $link_color;
  text-decoration: underline;
}

/* ------------ Media Queries ------------- */

@media screen and (max-width: 480px) {
  .bx--row.footer__row > p {
    font-size: 0.8rem;
  }
}
