@import "../../styles/variables";

.bx--grid.otp__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}

.otp__resend__text {
  text-align: center;
  margin: 20px 0px;
}

.otp__btn__resend {
  margin: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.otp__row {
  margin-bottom: 2rem;
  text-align: center;
}

.span__color {
  color: $secondary_color;
  font-weight: bold;
}
