.bx--data-table th.immunization__table__head {
  background-color: #d3d3ff;
}

.bx--data-table td.immunization__table__row {
  background-color: #ffffff;
}

.immunization__record__container {
  margin-bottom: 1rem;
}
