@import "../../styles/variables";

.visit__details__heading,
.records__details__heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.visit__details__container {
  background-color: #eef7ff;
  border-radius: 25px;
  padding: 3rem;
  margin: 2rem;
  box-shadow: rgba(30, 30, 90, 0.25) 0px 50px 100px -20px,
    rgba(30, 30, 90, 0.3) 0px 30px 60px -30px,
    rgba(30, 30, 90, 0.35) 0px -2px 6px 0px inset;
}

.visit__details__row {
  margin-bottom: 1.5rem;
}

.single__records__section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
