@import "../../../styles/variables";

.bx--btn--primary.primary__button {
  background-color: $secondary_color;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  &:hover {
    background-color: $secondary_color;
  }
}

@media screen and (max-width: 520px) {
  .bx--btn--primary.primary__button {
    padding: 0.8rem;
    font-size: 12px;
  }
}
